<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="form.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="form.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="form.Properties.Settings.MyNorthwinf" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="form.Properties.Settings.MyDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Student\Source\Repos\tsaiwenkai\-\form\Database1.mdf;Integrated Security=True" />
        <add name="form.Properties.Settings.MyAwConnectionString" connectionString="Data Source=.;Initial Catalog=AdventureWorks2019;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <form.Properties.Settings>
            <setting name="MyCount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MyColor" serializeAs="String">
                <value>Red</value>
            </setting>
        </form.Properties.Settings>
    </userSettings>
</configuration>